* {
    font-family: 'Cormorant Garamond', serif;
    background: radial-gradient(circle at 10% 20%, rgb(242, 235, 243) 0%, rgb(234, 241, 249) 90.1%);
}

a {
    color: rgb(106, 141, 155);
}

.App-footer {
  text-align: center;
  margin: 100px auto 50px auto;
}

